- if notice
  .alert-message.success
    %a.close(href='#') x
    %p= notice

<% for attribute in attributes -%>
%p
  %b <%= attribute.human_name %>:
  = @<%= singular_table_name %>.<%= attribute.name %>
<% end -%>

= link_to 'Edit', edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), :class => 'btn primary float_left'
= link_to 'Back', <%= index_helper %>_path, :class => 'btn float_left'
