%p#notice= notice

<% for attribute in attributes -%>
%p
  %b <%= attribute.human_name %>:
  = @<%= singular_table_name %>.<%= attribute.name %>
<% end -%>

= button_to 'Edit', edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), :method => :get, :class => 'btn primary'
= button_to 'Back', <%= index_helper %>_path, :method => :get, :class => 'btn'
